/* :root{
  --main-color:  #f1002a;
  --main-bg:     #f1f1f1;
  --sec-color:   #f10093;
  --sec-bg:      #ffccd5;
  --text-color:  #444445;
} */

:root{
  --main-color:  #EEEEEE;
  --sec-color:   #00ADB5;
  --main-bg:     #393E46;
  --sec-bg:      #222831;
  --text-color:  #d3d3d3;
}

h1{
  font-size: 10rem;
}

i{
  color: var(--text-color);
}

body {
  font-family: Arial;
  padding: 20px;
  background: var(--main-bg);
  line-height: 30px;
  width: 60%;
  margin: auto;
  font-size: 1rem;
}

img{
  border-radius: 20px;
  box-shadow: 5px 5px 2.5px var(--sec-bg);
  margin: 5px;
  max-height: 400px;
}

a:visited {
  color: var(--main-color);
}

h1,
h3,
a:link {
  color: var(--sec-color);
}

.no-style {
  text-decoration: none;
  color: white;
  background: black;
  border-radius: 10px;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid var(--main-bg);
  border-collapse: collapse;
  padding: 5px;
}

.tags {
  color: var(--main-color);
}

.half_half {
  display: grid;
  /* grid-gap: 50px 100px; */
  grid-template-rows: auto auto;
  padding-bottom: 1.5rem;
}

.tin-drum {
  max-width: 200px;
  max-height: 200px;
}

.horsey {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10vw;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

details {
  cursor: pointer;
}

.svg-title{
  padding-top: 50px;
}

.subtitle {
  line-height: 1rem;
  color: var(--text-color);
  width: 60%;
}

p,
pre {
  color: var(--text-color);
}

code{
  color: var(--sec-color);
}

.border {
  border: 2px solid var(--main-color);
}

pre {
  border-left: solid 2px var(--sec-color);
  border-radius: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 5px;
  background: var(--sec-bg);
  color: var(--text-color);
  overflow-x: auto !important;
  white-space: pre-wrap !important; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}

p::first-letter {
  font-size: 150%;
  color: var(--main-color);
}

.song-container {
  height: 70%;
  width: 70%;
  padding: 1.5rem;
  border-radius: 10px;
  background: var(--sec-bg);
  color: var(--text-color);
  margin: auto;
  box-shadow: 2px 2px 0.5px 0.5px var(--sec-color);
}

details > summary {
  background: var(--sec-bg);
  color: var(--main-color);
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 20px;
  cursor: pointer;
  max-width: 50%;
}

details > ul {
  list-style: none;
  margin: 0;
}

.stats-container {
  max-width: 60%;
  border-radius: 10px;
  background: var(--sec-bg);
  padding: 5px;
}

.stat {
  padding: 5px;
  display: grid;
  grid-template-columns: minmax(0, 1.2fr) 2.5fr;
  margin: 5px;
}

.stat-name {
  border-radius: 10px;
  background: var(--main-bg);
  color: var(--text-color);
  padding: 5px;
  text-align: center;
}

.stat-bar {
  border-radius: 2.5px;
  background: var(--main-color);
  margin: 5px;
  margin-right: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

hr {
  border-top: 2px solid var(--main-color);
}

.color-icon{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  margin: 1.5px;
  border: 2px solid var(--main-bg);
  border-radius: 100px;
}

@media (max-width: 780px) {
  body {
    width: 90%;
    margin: auto;
  }

  h1{
    font-size: 6.5rem;
  }

  img {
    max-width: 90vw;
    margin: 5px;
  }
  .horsey {
    max-width: 50vw;
  }

  .stats-container {
    max-width: 100%;
  }

  .stat {
    grid-template-columns: minmax(0, 1.2fr) 2.5fr;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
