body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  line-height: 30px;
  width: 60%;
  margin: auto;
  font-size: 1rem;
}

a:visited {
  color: #ff9999;
}

h1,
h3,
a:link {
  color: #f1002a;
}

.no-style {
  text-decoration: none;
  color: #f1002a;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.tags {
  color: #f1002a;
}

.half_half {
  display: grid;
  /* grid-gap: 50px 100px; */
  grid-template-rows: auto auto;
  padding-bottom: 1.5rem;
}

.tin_drum {
  max-width: 200px;
  max-height: 200px;
}

.horsey {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 10vw;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

details {
  cursor: pointer;
}

.subtitle {
  line-height: 1rem;
  color: #444445;
  width: 60%;
}

p,
pre {
  color: #444445;
}

.border {
  border: 2px solid red;
}

pre {
  border: solid 2px #c0c0c0;
  border-radius: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 5px;
  background: #e0dbb8;
  color: black;
  overflow-x: auto !important;
  white-space: pre-wrap !important; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap !important; /* Opera 4-6 */
  white-space: -o-pre-wrap !important; /* Opera 7 */
  word-wrap: break-word !important; /* Internet Explorer 5.5+ */
}

p::first-letter {
  font-size: 150%;
  color: #373738;
}

.song-container {
  height: 70%;
  width: 70%;
  padding: 1.5rem;
  border-radius: 10px;
  background: #ffe6e9;
  color: black;
  margin: auto;
  border: 2px solid #ffb3bb;
}

details > summary {
  background: #ffe6e9;
  color: #f1002a;
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 20px;
  cursor: pointer;
  max-width: 20%;
}

details > ul {
  list-style: none;
  margin: 0;
}

.stats-container {
  max-width: 60%;
  border: 2px solid #f1002a;
  border-radius: 10px;
  background: #ffccd5;
}
.stat {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 5px;
}

.stat-name {
  border: 1.75px solid #f1002a;
  border-radius: 10px;
  background: white;
  padding: 5px;
  text-align: center;
}

.stat-bar {
  border: 1.5px solid black;
  border-radius: 2.5px;
  background: darkslateblue;
  margin: 5px;
  margin-right: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

hr {
  border-top: 2px solid #f1002a;
}

@media (max-width: 780px) {
  body {
    width: 90%;
    margin: auto;
  }
  img {
    max-width: 90vw;
    margin: 5px;
  }
  .horsey {
    max-width: 50vw;
  }

  .stats-container {
    max-width: 100%;
  }

  .stat {
    grid-template-columns: 1fr 3fr;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
